<div class="menu-row ">
    <div class="d-inline-block bg">
        <span class="fa fa-user-circle" aria-hidden="true"></span>
       МОЙ ПРОФИЛЬ
    </div>
    <div class="d-inline-block bg">
        ГРУППЫ
    </div>
    <div class="d-inline-block bg">
        ПОЛЬЗОВАТЕЛИ 
    </div>
    <div class="d-inline-block bg">
        КОНФЕРЕНЦИИ
    </div>
</div>
