@model Network.Views.ViewModels.AddGroup


    @using (Html.BeginForm("AddGroup", "Group", FormMethod.Post))
    {
        @Html.HiddenFor(model=>model.Direction)
     
            <div class="row form-group">
                <input class="input-add-info" required type="text" name="NameProject" placeholder="НАЗВАНИЕ ПРОЕКТА">
            </div>
            <div class="row form-group">
                <input class="input-add-info" required type="date" name="DateStart" placeholder="СТАРТ ПРОЕКТА">
            </div>
            <div class="row form-group">
                <input class="input-add-info" required type="date" name="DateFinish" placeholder="ФИНИШ ПРОЕКТА">
            </div>

            <div class="row form-group">
                @Html.DropDownListFor(x => x.SelectedHead, new SelectList(Model.Head, "Id","Name"), "РУКОВОДИТЕЛЬ", new { @class = "input-add-info", required = (string)null })
            </div>

            <div class="row">
                <input type="submit" class="next button-large btn-default btn" value="ОК" />
            </div>
    }
   