@model Network.DAL.EFModel.MembersOfGroup


<div id="joinToGroupDialog">
    <div class="modal-dialog">
        <div class="modal-content">

            <div class="modal-header">
                <button  type="button" class="close" data-dismiss="modal">&times;</button>
                <h4 class="modal-title">Добавление в группу</h4>
            </div>

            <div class="modal-body">
                @using (Html.BeginForm("AddToGroup", "Group", FormMethod.Post))
                {
                    @Html.HiddenFor(model => model.GroupId)
                        <p>Вы хотите присоеденится к этой группе?</p>
                        
                    @*<button class="btn pull-right" type="submit">OK</button>*@
                    <div class="row">
                        <div class="form-group">
                            <div class="col-md-offset-8 col-md-4 ">
                                <button class="btn btn-info pull-right" type="submit">OK</button>
                            </div>
                        </div>
                    </div>
                }
            </div>
        </div>
    </div>
</div>

