@model Network.DAL.EFModel.Group

<div id="delGroupDialog">
    <div class="modal-dialog">
        <div class="modal-content">

            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal">&times;</button>
                <h4 class="modal-title">Удаление группы</h4>
            </div>

            <div class="modal-body">
                @using (Html.BeginForm("DeleteGroup", "Group", FormMethod.Post))
                {
                    @Html.HiddenFor(model => model.Id)
                    <p>Вы действительно хотите удалить группу</p>
                    <p> номер @Html.DisplayFor(model=>model.Number) со специализацией @Html.DisplayFor(model => model.Specialization)?</p>

                    <div class="row">
                        <div class="form-group">
                            <div class="col-md-offset-8 col-md-4 ">
                                <button type="submit" class="btn btn-info" style="margin: 15px">OK</button>
                            </div>
                        </div>
                    </div>     }
            </div>
        </div>
    </div>
</div>