@using (Html.BeginForm("SelectDirection", "Group"))
{
    <div class="row">
        <div>
            <input class="input-search" type="text" name="direction" placeholder="НАПРАВЛЕНИЕ">
        </div>
        <button id="selectReport" class="btn btn-search">ПРОДОЛЖИТЬ</button>
    </div>
}
