@model Network.Views.ViewModels.AddGroup

@{
    ViewBag.Title = "AddGroup";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="panel container-show container search-input">
    <div class="row">
        <div>
            <input id ="selectWord"class="input-search" type="text" name="direction" placeholder="НАПРАВЛЕНИЕ">
        </div>
        <button id="selectReport" class="btn btn-search">ПРОДОЛЖИТЬ</button>
    </div>
</div>

<div id="searchResults" class="form-add-group">

</div>




@section Scripts{
    <script type="text/javascript">
        $(document).ready(function () {

            $("#selectReport").click(function () {
                var direction = $("#selectWord").val();
                $.ajax({
                    url: "/Group/SelectDirection?direction" + direction,
                    method: "GET",
                    async: false,
                    data: { direction },
                    success: function (data) {
                        $("#searchResults").html(data);
                    }
                });

            });
        });
        
     </script>
}
