@model Network.Views.ViewModels.AddGroup

@{
    ViewBag.Title = "AddGroup";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="panel container-show container" style="padding-top: 50px;">
    <div class="row">
        <div>
            <input id ="selectWord"class="input-search" type="text" name="direction" placeholder="НАПРАВЛЕНИЕ">
        </div>
        <button id="selectReport" class="btn btn-search">ПРОДОЛЖИТЬ</button>
    </div>
</div>

<div id="searchResults">

</div>

@*<div class="panel container-show container">
    @Html.Partial("_AddModel")
</div>*@



@section Scripts{
    <script type="text/javascript">
        $(document).ready(function () {

            $("#selectReport").click(function () {
                var direction = $("#selectWord").val();
                debugger
                $.ajax({
                    url: "/Group/SelectDirection?direction" + direction,
                    method: "post",
                    async: false,
                    data: { direction },
                    success: function (data) {
                        debugger;
                        $("#searchResults").html(data);
                    }
                });

            });
        });

            //function setHead(str) {
            //    var set_data = '',
            //    var direction = $("#selectWord").val();
            //    debugger
            //    $.ajax({
            //        url: "/Group/SelectDirection?direction" + direction,
            //        method: "post",
            //        async: false,
            //        data: { direction=direction },
            //        success: function (data) {
            //            set_data = data;
            //        }
            //    });
            //    return set_data;

            //}

           
        //return set_data;

                //debugger
                //$("#searchResults").load(url, { direction: keyWord });

            @*var url = '@Url.Action("SelectDirection", "Group")';

            $("#selectReport").click(function () {
                debugger

                debugger
                $("#searchResults").load(url, { direction: keyWord });
            })*@
        
     </script>
}