@model Network.Views.ViewModels.AddMemberViewModel

@{
    ViewBag.Title = "Добавление пользователей в группу";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
@Html.HiddenFor(x => Model.GroupId, new { @id = "groupId" })

<div style="margin-left:25px; margin-right:20px;">

    <div class="row menu-page menu-cont">
        <div class="col-md-1 ">
            <a href=@Url.Action("OpenGroup","Group",new{ groupId=Model.GroupId})><i style="padding: 15px 0 0 15px; color:white;" class="fa fa-arrow-circle-left"></i></a>
        </div>

        <div class="col-md-3 item-menu text-menu-page">
            <a class="text-menu-page">ДОБАВЛЕНИЕ ПОЛЬЗОВАТЕЛЕЙ</a>
        </div>
        <div class="col-md-8 item-menu text-menu-page">
               <div class="row" style="margin: -15px 0 0 135px;">
                <div>
                    @Html.DropDownListFor(model => model.SelectedDirection, new SelectList(Model.Directions), Model.SelectedDirection.ToString(), new
       {
           @class = "drop-down-direct",
           @id = "selectD"
       })


                </div>
                <button id="selectReport" class="btn btn-search">НАЙТИ</button>
            </div>
        </div>

        

    </div>
</div>

<div class="container text-style-info">
    <div id="result">
    </div>
</div>


@section Scripts{
    <script type="text/javascript">
        $(document).ready(function () {

            $("#selectReport").click(function () {
                var item = { GroupId: $("#groupId").val(), SelectedDirection: $("#selectD").val() };
                $.ajax({
                    url: "/Group/GetDirections",
                    data: JSON.stringify(item),
                    type:"POST",
                    contentType: "application/json; charset=utf-8",

                    error: function (xhr, str) {
                        $('#result').html('Что-то пошло не так =(' + str);
                    },
                    success: function (data) {
                        $("#result").html(data);
                    }
                });

            });
        });

    </script>
}