#regForm {
    background-color: #ffffff;
    margin: 3% auto;
    font-family: Raleway;
    padding: 40px;
    width: 100%;
    min-width: 300px;
}

.tab {
    display: none;
}

.input-add-info {
    font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
    height: 40px;
    padding: 10px;
    width: 100%;
    font-size: 17px;
    border: 1px solid #aaaaaa;
}

input.invalid {
    background-color: #ffdddd;
}

#prevBtn {
    background-color: #bbbbbb;
}

.step.active {
    opacity: 1;
}
.btn-add-info {
    width: 20%;
    float: right;
    background-color: #E7FFE0;
}
.marg {
    margin-left:15px;
}
