.logo-header {
    height: 80px;
    width: 200px;
}

.main-image {
    height: 280px;
    width: 242px;
    box-shadow: 0 0 20px rgba(0,0,0,0.5); /* Параметры тени */
    border-radius: 6px;
    position: absolute;
    margin-left: 180px;
    margin-top: -2%;
}
.size {
    height: 280px;
    width: 242px;
}

.link-inf{
    padding-top:120px;
}

.no-img {
    background-color: white;
}

.hovereffect {
    height: 280px;
    width: 242px;
    float: left;
    overflow: hidden;
    position: absolute;
    text-align: center;
    cursor: default;
}

    .hovereffect .overlay {
        height: 280px;
        width: 242px;
        position: absolute;
        overflow: hidden;
        top: 0;
        left: 0;
        -webkit-transition: all 0.4s ease-in-out;
        transition: all 0.4s ease-in-out;
    }

    .hovereffect:hover .overlay {
        background-color: rgba(170,170,170,0.4);
    }

    .hovereffect h2, .hovereffect img {
        -webkit-transition: all 0.4s ease-in-out;
        transition: all 0.4s ease-in-out;
    }

    .hovereffect img {
        display: block;
        position: relative;
        -webkit-transform: scale(1.1);
        -ms-transform: scale(1.1);
        transform: scale(1.1);
    }

    .hovereffect:hover img {
        -webkit-transform: scale(1);
        -ms-transform: scale(1);
        transform: scale(1);
    }

    .hovereffect h2 {
        text-transform: uppercase;
        color: #fff;
        text-align: center;
        position: relative;
        font-size: 17px;
        padding: 10px;
        background: rgba(0, 0, 0, 0.6);
    }

    .hovereffect a.info {
        display: inline-block;
        text-decoration: none;
        padding: 0 14px;
        text-transform: uppercase;
        color: #fff;
        border: 1px solid #fff;
        margin: 0 0 0 0;
        background-color: transparent;
        opacity: 0;
        filter: alpha(opacity=0);
        -webkit-transform: scale(1.5);
        -ms-transform: scale(1.5);
        transform: scale(1.5);
        -webkit-transition: all 0.4s ease-in-out;
        transition: all 0.4s ease-in-out;
        font-weight: normal;
        /*для блока с кнопкой*/
        height: 280px;
        width: 242px;
        position: initial;
        top: -20%;
        left: 8%;
    }

    .hovereffect:hover a.info {
        opacity: 1;
        filter: alpha(opacity=100);
        -webkit-transform: scale(1);
        -ms-transform: scale(1);
        transform: scale(1);
        background-color: rgba(0,0,0,0.4);
    }


