.menu-row {
    padding-top: 20px;
    color: #007bff;
    font-size: 15px;
}
.item-menu {
    float: left;
    line-height: 1;
    font-size: 14px;
    text-align: center;
    padding:0 5px 0 5px;
    height:100%;
}

.bg {
    background-color:white;
    padding:4px;
}
