.header-modal-st {
    color: #007bff;
    text-align:center;
}

.btn-select {
    
    background-color: #A3CCEA;
    width: 280px;
    height: 40px;
    color: white;
    text-align: center;
    border-radius:5px;
}



