/*!!!!!!!!!!!!*/
.form-group placeholder {
    color: white;
}
/**/

/*div a {
    color:white;
}*/
.secretary {
    MARGIN-TOP: 15PX;
    COLOR: WHITE;
    TEXT-ALIGN: CENTER;
}

/*for buttons*/
.log-reg {
    margin-top: 25px;
    color: white;
}

.button-large {
    background-color: #A3CCEA;
    width: 140px;
    height: 40px;
    color: white;
    text-align: center;
}


.disp-twice-but {
    display: flex;
    justify-content:flex-end;
    height: 100%;
}
.btn-marg {
    margin-left: 10px;
    align-items: stretch;
    text-align:center;
}
.btn-marg-log-off {
    margin-left: 40px;
    align-items: stretch;
    text-align: center;
}
/**/


header {
    background-color: white;
    font-family: Helvetica;
    color: #ffffff;
}
.head-background-col {
    background-color: white;
}
.header-pad {
    padding-top:10px;
}

.cont-form {
    margin-top:20px;
}


body {
    font-family: 'Helvetica';
    background-color: #59a3b1;
    overflow: hidden;
}

.dnk-background {
    width: 100%;
    height: 100px;
    background-color: #26464C;
    border-color: red;
}
.body-background {
    width: 100%;
    height: 50px;
    background-color: #1F1F1F;
}

.footer-main {
    position: fixed;
    bottom: 0;
    width: 100%;
    height: 25px;
    line-height: 60px;
    background-color: #D9D6C0;
}
@font-face {
    font-family: 'Helvetica';
    src: url('./Helvetica-Neue-Cyr/HelveticaNeueCyr-Light.otf');
}

/*for menu in page*/
.menu-page {
    height:55px;
}

.text-menu-page {
    color: white;
    font-size: 18px;
    font-family: 'Helvetica';
}
.item-menu {
    padding: 15px 5px 5px 5px;
}

.gener-menu {
    color: #007bff;
}

.item-icon {
    color:white;
    font-size:16px;
}
.hover:hover {
    background-color: #808080;
    height: inherit;
    height: 50px;
    cursor: pointer;
    color:white;    
}
 .hover a {
    color: white;
}

.active-item-menu {
    background-color: #808080;
    height: inherit;
    height: 50px;
}
.hid {
    visibility:hidden;
}
.text-style-info {
   color:white;
   margin-top:10px;
   font-size:20px;
}
/**/

/*for profile-page*/
.cont-info {
    margin-top:20px;
    padding: 0 15px 0 0;
}

.text-profile {
    font-size:16px;
    color: white;
    margin: 1px;
}

.title-head {
    font-size: 40px;
    font-family: Helvetica;
    color: #ffffff;
    letter-spacing: 2.5px;
    font-weight:bold;
    padding-left:0;
}

.null-left-pad {
    padding-left:0;
}
.null-padd {
    padding:0;
}

.detail-aduc-marg {
    margin: 40px 0 0 20px;
}

.but-detail-info {
    background-color: #84c1cc;
    width: 100%;
    height: 20px;
    cursor: pointer;
}

/*for index CONFERENCE*/
.align-item-menu {
    padding-left: 160px 
}

.style-text {
    text-align: center;
    color:white;
    margin:1px;
}


.item-date {
    width: 64px;
    text-align: center;
}

.item-body {
    width: 510px;
    margin: 0 0 0 25px;
}

.item {
    overflow: hidden;
    padding: 23px 0 14px;
    position: relative;
    color:black;
}

.left {
    float: left;
    line-height: 1;
    font-size:14px;
}

.data-index-list-events {
    padding: 22px 20px 0 20px;
}

.data-index-list-events .item-date strong {
    font-weight: normal;
    color: #8c8c8c;
    font-size: 13px;
    display: block;
    text-transform: lowercase;
    padding: 0 0 8px 0;
    color: black;
    text-align: center;
}
.data-index-list-events .item-date span {
    font-size: 11px;
    display: block;
    color: #b9b9b9;
    text-transform: uppercase;
    color: black;
    text-align:center;
}

.data-index-list-events .item-body .title {
        font-size: 18px;
        font-weight: bold;
        line-height: 22px;
        margin-top: 30px;
        text-align: center;
        color: white;
    }
.title a {
    color: white;
}
.menu, .menu a:hover {
    color:white;
}

.icon {
    height: 20px;
    width: 20px;
    margin-top: 30px;
}
.butt-decid {
    margin-top: 30px;
}

.butt-modal {
    margin-left: 160px;
    display: inline;
}


.input-details {
    height: 60px;
}

.container-show {
    overflow-y: auto;
    height:550px;
}

.date-show {
    color: white;
    margin-top: 10px;
    font-size: 14px;
}

.item-list {
    color: #007bff;
    font-size: 18px;
    padding: 40px;
}

img {
    width: 100%;
    height: 100%;
}

/*for browse user*/
.box-user {
    overflow-y: auto;
    height: 100%;
}

.active-item-menu {
    background-color: #808080;
    height: inherit;
    height: 50px;
    cursor: pointer;
}

#result {
    overflow-y: auto;
    overflow-x: hidden;
    height: calc(100vh - 270px);
}
.item-user {
    height:250px;
}
.user-img {
    width: 200px;
    height: 200px;
    object-fit: cover;
}

.buttonLoginExternl {
    margin-top: 2%;
    margin-left: 30%;
    width: 40%;
    background-color: white;
}

.linkForDowload {
    color: white;
    font-size: 36px;
    text-align: center;
}
a .linkForDowload {
    padding-left:35%;
}
.form-details {
    color: white;
    word-wrap: break-word;
    height:200px;
    overflow-y:auto;
}

a:hover {
    text-decoration: none;
    color: white;
}

.date-show-archive {
    color: white;
    margin-top: 50px;
    font-size: 14px;
}
.menu-cont {
    padding-left:100px;
    padding-right:100px;
}


.input-search {
    float: right;
    width: 400px;
    margin-top: 10px;
    -webkit-transition: width 0.4s ease-in-out;
    transition: width 0.4s ease-in-out;
}

    /*When the input field gets focus, change its width to 100%*/
.input:focus {
    width: 100%;
}

.btn-search {
    margin:7px;
}

.item-hover:hover {
    background-color: #DFDFDF;
    height: inherit;
    /*height: 50px;*/
    cursor: pointer;
}

.search-input {
    padding-top: 50px;
    height: 110px;
    padding-left:300px;
}

.form-add-group {
    padding: 0 385px 0 430px;
}

.item-list-group {
    text-align: center;
    color: white;
    font-weight:bold;
}

.user-list-container {
    float: right;
    background-color: white;
    height: 300px;
    width: 280px;
    overflow-y: auto;
    overflow-x: hidden;
    margin-top: 30px;
}

.add-user-container {
    float: right;
    background-color: white;
    height: 50px;
    width: 280px;
    overflow-y: hidden;
    overflow-x: hidden;
}

.img-member {
    height: 75px;
    width: 80px;
    padding:10px;
}

.resource-group-container {
    height: 350px;
    width: 260px;
    overflow-y: auto;
    overflow-x: hidden;
    background-color:black;
    /*margin: 20px 0 0 200px;*/
}

.select-resourse {
    background-color: white;
    height:340px;
    width: 300px;
    margin-top: 4%;
}

.element-pad {
    padding:10px;
}

.add-resource {
    padding: 20px 20px 20px 40px;
    margin-bottom: 0;
    float: initial;
}
.comment {
    font-size: 12px;
}

.container-resource {
    width: 480px;
    height: 380px;
    background-color: white;
    margin-top: 4%;
    overflow-y: auto;
    overflow-x: hidden;
}
.list-resource {
    overflow-y:auto;
    overflow-x:hidden;
}

.but-add-member {
    background-color: #A3CCEA;
    width: 35%;
    height: 60%;
    color: white;
    text-align: center;
    margin: 4% 0 0 32%;
    font-size:14px;
}

    .but-add-member:hover {
        content: attr(data-title);
    }

.drop-down-direct {
    margin-top: 15px;
}

a .nname{
    color: white;
}
.fa-file:hover {
    color: black;
    height: inherit;
    cursor: pointer;
    background-color:white;
}

.container-comments {
    height: 100%;
    width: 100%;
    
}

input .size-checkbox {
    height: 30px;
    width: 25px;
}
.medium {
    width: 4em;
    height: 4em;
}

input[type="radio"], input[type="checkbox"] {
    box-sizing: border-box;
    padding: 0;
    height: 25px;
    width: 25px;
}

