/*!!!!!!!!!!!!*/
.form-group placeholder {
    color: white;
}
/**/

.secretary {
    MARGIN-TOP: 15PX;
    COLOR: WHITE;
    TEXT-ALIGN: CENTER;
}

/*for buttons*/
.log-reg {
    margin-top: 25px;
    color: white;
}

.button-large {
    background-color: #A3CCEA;
    width: 140px;
    height: 40px;
    color: white;
    text-align: center;
}


.disp-twice-but {
    display: flex;
    justify-content:flex-end;
    height: 100%;
}
.btn-marg {
    margin-left: 10px;
    align-items: stretch;
    text-align:center;
}
/**/


header {
    background-color: white;
    font-family: Helvetica;
    color: #ffffff;
}
.head-background-col {
    background-color: white;
}
.header-pad {
    padding-top:10px;
}

.cont-form {
    margin-top:20px;
}


body {
    font-family: 'Helvetica';
    background-color: #59a3b1;
    overflow: hidden;
}

.dnk-background {
    width: 100%;
    height: 100px;
    background-color: #26464C;
    border-color: red;
}
.body-background {
    width: 100%;
    height: 50px;
    background-color: #1F1F1F;
}

.footer-main {
    position: fixed;
    bottom: 0;
    width: 100%;
    height: 25px;
    line-height: 60px;
    background-color: #D9D6C0;
}
@font-face {
    font-family: 'Helvetica';
    src: url('./Helvetica-Neue-Cyr/HelveticaNeueCyr-Light.otf');
}

/*for menu in page*/
.menu-page {
    height:55px;
}

.text-menu-page {
    color: white;
    font-size: 20px;
    font-family: 'Helvetica';
}
.item-menu {
    padding: 15px 5px 5px 5px;   
 }
.item-icon {
    color:white;
    font-size:16px;
}
.hover:hover {
    background-color: #808080;
    height: inherit;
    height: 50px;
    cursor: pointer;
}
.active-item-menu {
    background-color: #808080;
    height: inherit;
    height: 50px;
}
.hid {
    visibility:hidden;
}
.text-style-info {
   color:white;
   margin-top:10px;
   font-size:20px;
}
/**/

/*for profile-page*/
.cont-info {
    margin-top:20px;
    padding: 0 15px 0 0;
}

.text-profile {
    font-size:16px;
    color: white;
    margin: 1px;
}

.title-head {
    font-size: 40px;
    font-family: Helvetica;
    color: #ffffff;
    letter-spacing: 2.5px;
    font-weight:bold;
    padding-left:0;
}

.null-left-pad {
    padding-left:0;
}
.null-padd {
    padding:0;
}

.detail-aduc-marg {
    margin: 40px 0 0 20px;
}

.but-detail-info {
    background-color: #84c1cc;
    width: 100%;
    height: 20px;
    cursor: pointer;
}

/*for index CONFERENCE*/
.align-item-menu {
    padding-left: 160px 
}

.style-text {
    text-align: center;
    color:white;
    margin:1px;
}


.item-date {
    width: 64px;
    text-align: center;
}

.item-body {
    width: 510px;
    margin: 0 0 0 25px;
}

.item {
    overflow: hidden;
    padding: 23px 0 14px;
    position: relative;
    color:black;
}

.left {
    float: left;
    line-height: 1;
    font-size:14px;
}

.data-index-list-events {
    padding: 22px 20px 0 20px;
}

.data-index-list-events .item-date strong {
    font-weight: normal;
    color: #8c8c8c;
    font-size: 13px;
    display: block;
    text-transform: lowercase;
    padding: 0 0 8px 0;
    color: black;
    text-align: center;
}
.data-index-list-events .item-date span {
    font-size: 11px;
    display: block;
    color: #b9b9b9;
    text-transform: uppercase;
    color: black;
    text-align:center;
}

.data-index-list-events .item-body .title {
    font-size: 18px;
    font-weight: bold;
    line-height: 22px;
    margin-top:30px;
    text-align:center;
}
.title a {
    color: white;
}

.icon {
    height: 20px;
    width: 20px;
    margin-top: 30px;
}
.butt-decid {
    margin-top: 30px;
}

.butt-modal {
    margin-left: 160px;
    display: inline;
}


.input-details {
    height: 150px;
}

.container-show {
    overflow-y: scroll;
    height:550px;
}

.date-show {
    color: white;
    margin-top: 10px;
    font-size: 14px;
}

.item-list {
    color: #007bff;
    font-size: 18px;
    padding: 40px;
}

img {
    width: 100%;
    height: 100%;
}

/*for browse user*/
.box-user {
    overflow-y: auto;
    height: 100%;
}

.active-item-menu {
    background-color: #808080;
    height: inherit;
    height: 50px;
    cursor: pointer;
}

#result {
    overflow-y: auto;
    overflow-x: hidden;
    height: calc(100vh - 270px);
}
.item-user {
    height:250px;
}
.user-img {
    width: 200px;
    height: 200px;
    object-fit: cover;
}


/*for input file*/
/*#customFile .custom-file-control:lang(ru)::after {
    content: "Select file...";
}

#customFile .custom-file-control:lang(ru)::before {
    content: "Click me";
}*/

/*when a value is selected, this class removes the content */
/*.custom-file-control.selected:lang(ru)::after {
    content: "" !important;
}

.custom-file {
    overflow: hidden;
}

.custom-file-control {
    white-space: nowrap;
}*/
/*for input file*/




/*.registrForm {
    padding-top: 100px;
}
.reg-form {
    height:150px;
    width:350px;
}
body {
    background: #eee !important;
}

.wrapper {
    margin-top: 30px;
    margin-bottom: 30px;
}

.form-signin {
    max-width: 380px;
    padding: 15px 35px 45px;
    margin: 0 auto;
    background-color: #fff;
    border: 1px solid rgba(0,0,0,0.1);
}
.form-signin-heading, .checkbox{
    margin-bottom: 30px;
}

.checkbox {
    font-weight: normal;
}

.form-control {
    position: relative;
    font-size: 16px;
    height: auto;
    padding: 10px;
    
}
  



input[type="text"] {
    margin-bottom: -1px;
    border-bottom-left-radius: 0;
    border-bottom-right-radius: 0;
}

input[type="password"] {
    margin-bottom: 20px;
    border-top-left-radius: 0;
    border-top-right-radius: 0;
}

fieldset {
    background: white;
    border: 0 none;
    border-radius: 3px;
    box-shadow: 0 0 15px 1px rgba(0, 0, 0, 0.4);
    padding: 0 30px;
    box-sizing: border-box;
    width: 41%;
    height: 512px;
    margin: 0 10% 0 25%;
    position: relative;
    text-align: center;
}

.item-radio{
    margin-left:20px;
}*/


/*.main.background.lazy-loaded {
    background: #333 url(/sc/h/64xk850n3a8uzse6fi11l3vmz) repeat top center;
    background-size: cover;
}*/
/*.main .reg-form {
    width: 400px;
    padding: 0 0 24px;
    margin: 0 auto;
    border-radius: 2px;
    background: #EDF0F3;
    overflow: hidden;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
    -ms-flex-flow: row wrap;
    flex-flow: row wrap;
    -webkit-box-pack: left;
    -ms-flex-pack: left;
    justify-content: left;
}*/
/*/*.image {
    height:200px;
    width:300px;
}

.editProf {
    margin-left:65px;
    margin-bottom:15px;
}
#regContainer {
    margin-top: 3%;
}

.panel-login {
    border-color: #ccc;
    background-color: #f9f8f8;
    -webkit-box-shadow: 0px 2px 3px 0px rgba(0,0,0,0.2);
    -moz-box-shadow: 0px 2px 3px 0px rgba(0,0,0,0.2);
    box-shadow: 0px 2px 3px 0px rgba(0,0,0,0.2);
}

    .panel-login > .panel-heading {
        text-align: center;
    }

        .panel-login > .panel-heading a {
            text-decoration: none;
            font-weight: bold;
            font-size: 28px;
            -webkit-transition: all 0.1s linear;
            -moz-transition: all 0.1s linear;
            transition: all 0.1s linear;
        }

            .panel-login > .panel-heading a.active {
                font-size: 34px;
            }

        .panel-login > .panel-heading hr {
            margin-top: 10px;
            margin-bottom: 0px;
            clear: both;
            border: 0;
            height: 1px;
            background-image: -webkit-linear-gradient(left,rgba(0, 0, 0, 0),rgba(0, 0, 0, 0.15),rgba(0, 0, 0, 0));
            background-image: -moz-linear-gradient(left,rgba(0,0,0,0),rgba(0,0,0,0.15),rgba(0,0,0,0));
            background-image: -ms-linear-gradient(left,rgba(0,0,0,0),rgba(0,0,0,0.15),rgba(0,0,0,0));
            background-image: -o-linear-gradient(left,rgba(0,0,0,0),rgba(0,0,0,0.15),rgba(0,0,0,0));
        }

    .panel-login input[type="text"], .panel-login input[type="email"], .panel-login input[type="password"] {
        height: 45px;
        border: 1px solid #ddd;
        font-size: 16px;
        -webkit-transition: all 0.1s linear;
        -moz-transition: all 0.1s linear;
        transition: all 0.1s linear;
    }

    .panel-login input:hover,
    .panel-login input:focus {
        outline: none;
        -webkit-box-shadow: none;
        -moz-box-shadow: none;
        box-shadow: none;
        border-color: #ccc;
    }

.btn-login {
    background-color: #3D9DB3;
    outline: none;
    color: #fff;
    font-size: 14px;
    height: auto;
    font-weight: normal;
    padding: 14px 0;
    text-transform: uppercase;
    border-color: #2d92a9;
}

    .btn-login:hover,
    .btn-login:focus {
        color: #fff;
        background-color: #198da8;
        border-color: #53A3CD;
    }

.btn-register {
    background-color: #17ae47;
    outline: none;
    color: #817272;
    font-size: 14px;
    height: auto;
    font-weight: normal;
    padding: 14px 0;
    text-transform: uppercase;
    border-color: #1CB94A;
}

    .btn-register:hover,
    .btn-register:focus {
        color: #fff;
        background-color: #1CA347;
        border-color: #1CA347;
    }

.fullscreen_bg {
    position: fixed;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    background-size: cover;
    background-position: 50% 50%;
    background-image: url('https://jointgroup.es/wp-content/uploads/2016/11/joint-network-group.jpg');
    background-repeat: repeat;
}

.panel-heading a {
    font-size: 48px;
    color: rgb(6, 106, 117);
    padding: 2px 0 10px 0;
    font-family: 'FranchiseRegular','Arial Narrow',Arial,sans-serif;
    font-weight: bold;
    text-align: center;
    padding-bottom: 30px;
}

.panel-heading a {
    background: -webkit-repeating-linear-gradient(-45deg, rgb(18, 83, 93), rgb(18, 83, 93) 20px, rgb(64, 111, 118) 20px, rgb(64, 111, 118) 40px, rgb(18, 83, 93) 40px);
    -webkit-text-fill-color: transparent;
    -webkit-background-clip: text;
}

.table {
    border: #53a3cd 2px;
    align-content: center;
    align-items: center;
}

td {
    text-align: center;
}

#user_img {
    height: 130px;
    width: 140px;
    border-radius: 15px;
    align-content: left;
}





.page {
    color: #000;
    font-size: 36px;
    font-weight: bold;
}
.pageText {
    color: #000;
    font-size: 22px;
    font-weight: bold;
}

.menu {
    color: #53a3cd;
    font-size: 18px;
}

.partialChangPhoto {
    height: 20px;
    width: 200px;

}

a {
    color: #000;
}


.button-del {
    text-align: center;
    border: none;
}



.prgr {
    height: 30px;
}




.gallery-img {
    height: 80px;
    width: 80px;
    border: solid;
    border-width: 1px;
}


td .alb {

    display: inline-block;
}



#addToGroupDialog > .modal-dialog .modal-content {
    height: 180px;
    width: 380px;
}

#delDialog > .modal-dialog .modal-content {
    height: 180px;
    width: 380px;
}


.ModalInModal {
    height: 380px;
    width: 380px;
}


hr {
    border-color: black;
}

.navbar-inverse {
    background-color: black;
    border-color: black;
}

.img-circle {
    border-radius: 20%;
    width: 345px;
    height: 250px;
    margin: 15px;
}

.emptyAlb {
    border-radius: 20%;
    border-color: black;
    border-width: 13px;
    width: 345px;
    height: 250px;
    margin: 15px;
}

.scrolAlb {
    overflow-x: scroll;
}

.scrolFriends {
    overflow-y: scroll;
}

.gallery {
    display: inline-flex;
}


.img-responsive {
    height: 200px;
    width: 300px;
    display: inline-flex;
}

.jumbotron .container-fluid {
    margin-bottom: 0;
    height: auto;
}



.jumbotron {
    max-height: 75%;
}



.modal-body img .thumbnail .img-responsive {
    height: 200px;
    width: 300px;
}

.jumbotron {
    width: 100%;
}


.content-holder {
    height: auto;
}



.select_friend_img {
    height: 80px;
    width: 90px;
    align-self: right;
}




#selectReceiverDialog .modal-dialog {
    width: 350px;
    height: auto;
}



.content_for_friends {
    height: auto;
    width: auto;
    margin: 20px;
    align-content: center;
    margin-left: 15px;
    margin-right: 15px;
}

.scrolSelRec {
    overflow-y: scroll;
}


.text {
    color: black;
    font-size: 18px;
    text-align: center
}



.badge {
    background-color: buttonface;
}


.nameFirstname {
    color: #000;
    font-size: 26px;
}


.dropdown-toggle {
    background-color: #000;
    color: #9d9d9d;
}

.btn {
    background-color: #000;
    color: #9d9d9d;
}

.pageHome {
    color: #eee;
    font-size: 36px;
    font-weight: bold;
}


.col-md-3 > .menu {
    padding-right: 15px;
    padding-left: 15px;
}

.bold {
    font-weight:bold;
}
.caret {
    color:white;
}

Footer*/ /*#footer {
    background-color: #343434;
    color: #999;
    height: 390px;
    margin-top: 321px;
    padding-top: 55px;
}

.footer-block {
    background-color: white;
    border-top: 2px solid #cfcfcf;
    border-radius: 2px;
    height: 47px;
    margin-bottom: 283px;
    margin-left: 675px;
    margin-right: 180px;
    position: absolute;
    width: 345px;
}

.footer-block-email {
    border: none;
    height: 47px;
    outline: none;
    width: 345px;
}

    .footer-block-email button {
        background-color: #f06549;
        border: 1px solid #e1593b;
        border-radius: 3px;
        cursor: pointer;
        height: 39px;
        margin-left: 30px;
        margin-right: 0;
        margin-top: 3px;
        padding: 0;
        text-align: center;
        width: 44px;
    }

.footer-block-email-img {
    background-image: url(../images/letter.png);
    background-position: 10px;
    background-repeat: no-repeat;
    border: 0 solid #dfdfdf;
    color: #cacaca;
    float: left;
    height: 33px;
    outline: none;
    margin: 0;
    padding-left: 40px;
    padding-right: 0;
    padding-top: 7px;
    width: 225px;
}

    .footer-block-email-img:focus {
        color: black;
        padding-left: 40px;
        padding-right: 0;
    }

.footer-text {
    color: #bbb;
    font-size: 9.5pt;
    height: 69px;
    margin-left: 160px;
    padding-left: 1px;
    width: 464px;
}

    .footer-text p {
        color: #939393;
    }

.footer-social-img {
    display: inline;
    margin-right: 14px;
}

    .footer-social-img a {
        outline: none;
        text-decoration: none;
    }

.footer-copyright {
    margin-top: 30px;
}

@media screen and (min-width: 768px) {
    .jumbotron {
        padding-top: 0px;
        padding-bottom: 0px;
    }
}

.jumbotron + .browse_user {
    height:80%;
    width:100%
}

 

#DaTe {
    height:30px;
    width:200px;
}

.AVA{
    margin:25px;
}

.btn-edit {
    padding-left:25px;
    margin-left:110px;
    width:100px;
    color:black;
}

 a:focus {
    color: #f1eeee;
}*/