@model Network.Views.ViewModels.ChangePhotoViewModel

<div id="changePhotoDialog">
    <div class="modal-dialog ">
        <div class="modal-content">

            <div class="modal-header header-modal-st">
                <h4 class="modal-title">ИЗМЕНИТЬ ФОТО</h4>
                <button type="button" class="close" data-dismiss="modal">&times;</button>
            </div>

            <div class="modal-body">
                @using (Html.BeginForm("ChangePhoto", "User", FormMethod.Post, new { enctype = "multipart/form-data" }))
                {
                    @Html.HiddenFor(m => m.UserId)

                    <div class="row" style="padding-left: 30px;">
                        <input type="file" class="btn-select " name="Image" id="imageFile" />

                        <button class="btn button-large btn-marg" type="submit" id="changePhoto">OK</button>
                    </div>

                }
            </div>
        </div>
    </div>
</div>
