@model IEnumerable<Network.Views.ViewModels.UserListViewModel>

@{
    ViewBag.Title = "BrowseUser";
    Layout = "~/Views/Shared/_Layout.cshtml";
}



<div class="container">
    <ul class="nav navbar-nav">
        <li onclick="brows('@Url.Action("GetAllUsers", "User")')"><a href="#">Все пользователи<span style="font-size: 16px;" class="pull-right hidden-xs showopacity glyphicon"></span></a></li>
        <li onclick="brows('@Url.Action("GetLead", "User")')"><a href="#">Руководители групп<span style="font-size: 16px;" class="pull-right hidden-xs showopacity glyphicon"></span></a></li>
        <li onclick="brows('@Url.Action("GetMemberGroup", "User")')"><a href="#">Участники групп<span style="font-size: 16px;" class="pull-right hidden-xs showopacity glyphicon"></span></a></li>

    </ul>
</div>

        <div class="jumbotron  container-show">
            <div id="result">
            </div>
        </div>


        <script>
            function brows(url) {
                $.get(url,
                    function (data) {
                        $('#result').html(data);
                    });
            }
        </script>
