@model IEnumerable<Network.Views.ViewModels.UserListViewModel>

@{
    ViewBag.Title = "BrowseUser";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="row menu-page ">
    <div class="align-item-menu">
        <div id="allId" onclick="brows('@Url.Action("GetAllUsers", "User")')" class="item-menu text-menu-page hover active-item-menu" style="padding-right: 30px;">ВСЕ ПОЛЬЗОВАТЕЛИ</div>
        <div id="leadId" onclick="brows('@Url.Action("GetLead", "User")')" class="item-menu text-menu-page hover active-item-menu" style="padding-right: 30px;">РУКОВОДИТЕЛИ ГРУПП</div>
    </div>
</div>


<div class="container text-style-info">
    <div id="result">
    </div>
</div>




@section Scripts
{
    <script type="text/javascript">
        $(document).ready(function () {
            $('#allId').click();


            $('#addConfId').click(function () {
                var url = $('#openModalAddConf').data('url');
                $.get(url,
                    function (data) {
                        $('#addContainer').html(data);

                        $('#openModalAddConf').modal('show');
                    });
            });

            function openModal(element) {
                var url = $(element).data('url');
                $.get(url,
                    function (data) {
                        $('#listContainer').html(data);

                        $('#openModalGetList').modal('show');
                    });

            };

        });
        function brows(url) {
            $.get(url,
                function (data) {
                    $('#result').html(data);
                });
        }

        $("#leadId").click(function () {
            $("#leadId").addClass("active-item-menu");
             $("#allId").removeClass("active-item-menu");

            });


            $("#allId").click(function () {
                $("#allId").addClass("active-item-menu");
                $("#leadId").removeClass("active-item-menu");
            });


    </script>
}



