@model Network.Views.ViewModels.ConferenceAddViewModel

<div id="addConfDialog">
    <div class="modal-dialog" style="margin-top:-7%;">
        <div class="modal-content">

            <div class="modal-header header-modal-st">
                <h4 class="modal-title">Добавление  конференции</h4>
                <button type="button" class="close" data-dismiss="modal">&times;</button>
            </div>
            <div class="modal-body" style="margin:15px 0 10px 20px;">
                @using (Html.BeginForm("AddConference", "Conference", FormMethod.Post, new { enctype = "multipart/form-data" }))
                {
                    <div class="form-group">
                        <input type="text" typeof="text" class="input-add-info" required name="Thema" placeholder="ТЕМА" />
                    </div>


                    <div class="form-group">
                        <input type="text" typeof="text" class="input-add-info" required name="Direction" placeholder="НАПРАВЛЕНИЕ" />
                    </div>

                    <div class="form-group">
                        <input id="DaTe" class="input-add-info" required="required" name="Date" type="date" />
                    </div>

                    <div class="form-group">
                        <label style="color:#A3CCEA;">АФИША</label>
                        <input type="file" class="btn-select " name="Image" id="imageFile" />
                    </div>

                    <div class="form-group">
                        <label style="color:#A3CCEA;">ТРЕБОВАНИЯ</label>
                        <input type="file" class="btn-select " name="Requirements" id="requiremFile" />
                    </div>

                    <div class="form-group">
                        <textarea type="text" typeof="text" class="input-add-info input-details" required name="Details" placeholder="ДЕТАЛИ" />
                    </div>

                    <input style="margin-left:160px;" type="submit" name="save" class="next btn button-large btn-finish" value="СОХРАНИТЬ" />
                }
            </div>

            
        </div>
    </div>
</div>



