@model Network.DAL.EFModel.Conference

<div id="createConferDialog">
    <div class="modal-dialog">
        <div class="modal-content">

            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal">&times;</button>
                <h4 class="modal-title">Добавление  конференции</h4>
            </div>

            <div class="modal-body">
                @using (Html.BeginForm("CreateConference", "Conference", FormMethod.Post))
                {
                    <div class="form-horizontal">
                        <div class="container">
                            <div class="form-group">
                                <label class="control-label">Выберите дату</label>
                                <input id="DaTe" required="required" name="Date" type="date" />
                            </div>

                            <div class="form-group">
                                <label class="control-label">Введите тему</label>
                                <input name="Thema" type="text" required="required" class="form-control" placeholder="Тема" />
                            </div>
                            <div class="form-group">
                                <label class="control-label">Введите адрес </label>
                                <input name="Place" type="text" required="required" class="form-control" placeholder="Адрес" />
                            </div>
                        </div>
                        <div class="row">
                            <div class="form-group">
                                <div class="col-md-offset-8 col-md-4 ">
                                    <button class="btn btn-info pull-right" type="submit">OK</button>
                                </div>
                            </div>
                        </div>

                    </div>
                }
            </div>
        </div>
    </div>
</div>

