@using (Html.BeginForm("Search", "Conference", FormMethod.Post))
{
    <div class="row">
        <div>
            <input class="input-search" type="text" name="str" placeholder="ПОИСК">
        </div>
        <button id="selectReport" class="btn btn-search">НАЙТИ</button>
    </div>
}