@model Network.Views.ViewModels.RegistrToConfer

@*<div id="changePhotoDialog">*@
<div class="modal-dialog ">
    <div class="modal-content">
        <div class="modal-header header-modal-st">
            <h4 class="modal-title">РЕГИСТРАЦИЯ</h4>
            <button type="button" class="close" data-dismiss="modal">&times;</button>
        </div>

        <div class="modal-body">
            @using (Html.BeginForm("JoinToConference", "Conference", FormMethod.Post, new { enctype = "multipart/form-data" }))
            {
                @Html.HiddenFor(model => model.ConfId)
                @Html.HiddenFor(model => model.UserId)


                <div class="form-horizontal">
                    <div class="container">
                        <div class="form-group">
                            <input name="Topic" type="text" required="required" min="1" max="150" class="input-add-info" placeholder="Тема доклада" />
                        </div>

                        <div class="form-group">
                            <input name="Author" type="text" required="required" min="1" max="150" class="input-add-info" placeholder="Авторы" />
                        </div>

                        <div class="form-group">
                            <span>(используйте расширение .doc)</span>
                            <input type="file" name="ReportText" id="inputGroupFile02">
                        </div>

                    </div>
                    <div class="row butt-modal">
                        <button type="button" class="btn button-large" onclick="location.href='@Url.Action("OpenConference", "Conference",new { confId =Model.ConfId})'">Отмена</button>
                        <button type="submit" class="btn button-large">ОК</button>
                    </div>
                </div>
            }
        </div>
    </div>
</div>
@*</div>*@






