@model IEnumerable<Network.Views.ViewModels.ReportsViewModel>

<div class="row menu-page menu-cont">

    <div class="col-1">
        <a href=@Url.Action("Index","Conference")><i style="padding: 15px 0 0 70px; color:white;" class="fa fa-arrow-circle-left"></i></a>
    </div>
    <div class="col-2">
        <div id="allReports" onclick="brows('@Url.Action("GetAllReport", "Conference", new { confId=Model.First().ConfId})')" class="item-menu text-menu-page hover" style="padding-right: 30px;">ВСЕ ДОКЛАДЫ</div>
    </div>

    <div class="col-9 align-item-menu">
        <div class="menu-cont">
            @Html.Partial("_FullTextSearch")
        </div>
    </div>

        <div class="container text-style-info">
            <div id="result" style="margin-top: 50px;">
            </div>
        </div>
    </div>

@section Scripts
{
    <script type="text/javascript">
        $(document).ready(function () {
            $('#allReports').click();
        });

        $("#allReports").click(function () {
            $("#allReports").addClass("active-item-menu");
        });
        $("#selectReport").click(function () {
            $("#allReports").removeClass("active-item-menu");
        });

        

        function brows(url) {
            $.get(url,
                function (data) {
                    $('#result').html(data);
                });
        }


    </script>
}
