@{
    ViewBag.Title = "Подтверждение почты";
}
<div class="text-item"">
    <h2>@ViewBag.Title.</h2>
    <div>
        <p>
            Благодарим за подтверждение электронной почты. @Html.ActionLink("Щелкните здесь для продолжения", "Login", "Account", routeValues: null, htmlAttributes: new { @class = "links" })
        </p>
    </div>
</div>

