@{
    ViewBag.Title = "Подтверждение пароля (если он был забыт)";
}

<hgroup class="title text-item">
    <h1>@ViewBag.Title.</h1>
</hgroup>
<div>
    <p class="text-item">
        Проверьте электронную почту, чтобы сбросить пароль.
    </p>
</div>
	
